
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <title>{% block title %}Registration{% endblock title %}</title>
        
        <link  href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">Django Authentication</span>
          {%if request.user.is_authenticated%}

            <ul class="menu">
                <li class="{% if section == "dashboard" %}{{'selected'}}{%endif%}>
                    <a href="{% url 'dashboard' %}">My Dashboard</a>
                </li>

            </ul>
          {% endif%}

        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>>